.app {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    background-color: white;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.25);

    max-width: 500px;
    width: 90%;
    
    margin: auto;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    padding: 2em;
}

.form__error {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    padding: 0.25em;

    background-color: rgb(245, 106, 106);
    border-radius: 5px;
    color: black;
}

.button {
    padding: 0.5em 1em;
    border-radius: 5px;

    margin: 1em 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    outline: none;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    background-color: grey;
}

.button--primary {
    background-color: royalblue;
    color: white;
}

.button--secondary {
    background-color: white;
    color: royalblue;
    text-decoration: underline;

    border: none;
}